
<!-- partial -->
<div class="content-wrapper">
    <div class=" container">
      <div class=" pb-0">
  
        <!-- first row starts here -->
        <div class="row">
          <div class="header-right mt-md-2 mt-lg-0 w-100">
            <div class=" align-items-center d-inline-block">
              <a routerLink="/masters">
                <p class="m-0 pe-3">Master Data Reports</p>
              </a>
              <a class="ps-3 me-4">
                <p class="m-0">Add New Products Master</p>
              </a>
            </div>
            <div class="" style="display: inline-block;  float: right;">
              <button type="button" routerLink="/productmaster"class=" btn btn-sm btn-success btn-icon-text"
                style="height:30px">
                <i class="mdi mdi-arrow-left"></i> Back</button>
            </div>
          </div>
        </div>
  
        <div class="row grid-margin stretch-card mt-3">
          <form [formGroup]="addproductMasterForm" (ngSubmit)="onAddProductMasterSubmit()">
            <div class="card">
              <div class="card-body">
  
                <div class="mb-3">
                  <h3 class="d-inline-block"> Add New Product </h3>
                  
                </div>
                <div class="clearfix"></div>

                <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-header">
                      Product Information
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Product Id</label>
                            <input type="text" class="form-control" id="Product_Key" formControlName="Product_Key" placeholder="Product Id">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Product Name</label>
                            <input type="text" class="form-control" id="Product_Name" formControlName="Product_Name" placeholder="Product Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Category Name</label>
                            <input type="text" class="form-control" id="Category_Name" formControlName="Category_Name" placeholder="Category Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Sub Category Name</label>
                            <input type="text" class="form-control" id="Subcategory_Name" formControlName="Subcategory_Name" placeholder="Sub Category Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Product Description</label>
                            <input type="text" class="form-control" id="Product_Description" formControlName="Product_Description" placeholder="Product_Description">
                          </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">SKU ID</label>
                            <input type="text" class="form-control" id="SKU_ID" formControlName="SKU_ID" placeholder="SKU ID">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputUsername1">Brand_Description</label>
                          <input type="text" class="form-control" id="Brand_Description" formControlName="Brand_Description" placeholder="Brand_Description">
                      </div>
                        
                    </div>
                  </div>
                </div>

                <div class="col-md-6 grid-margin ">
                  <div class="card mb-3">
                    <div class="card-header">
                      Product Status
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label for="exampleFormControlSelect1">Product Status</label>
                        <select class="form-control form-control-lg" id="Status" formControlName="Status" placeholder="productStatus">
                          <option value="1">Active</option>
                          <option value="0">In Active</option>
  
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="exampleFormControlSelect1">NewProduct</label>
                        <select class="form-control form-control-lg" id="NewProduct" formControlName="NewProduct" placeholder="productStatus">
                          <option value="1">Yes</option>
                          <option value="0">No</option>
  
                        </select>
                      </div>
                    </div>
                  </div>


                  <div class="card">
                    <div class="card-header">
                      Product Dimensions
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Product Dimensions</label>
                            <input type="text" class="form-control" id="Dimensions" formControlName="Dimensions" placeholder="Product Dimensions">
                        </div>
                   
                    
                      <div class="form-group">
                          <label for="exampleInputUsername1">Product weight</label>
                          <input type="text" class="form-control" id="weight" formControlName="weight" placeholder="Product weight">
                      </div>
                
                    <div class="form-group">
                        <label for="exampleInputUsername1">Package_Size</label>
                        <input type="text" class="form-control" id="Package_Size" formControlName="Package_Size" placeholder="Package_Size">
                    </div>
               
                  <div class="form-group">
                      <label for="exampleInputUsername1">Package_Details</label>
                      <input type="text" class="form-control" id="Package_Details" formControlName="Package_Details" placeholder="Package_Details">
                  </div>
            
                <div class="form-group">
                    <label for="exampleInputUsername1">Storage_Type</label>
                    <input type="text" class="form-control" id="Storage_Type" formControlName="Storage_Type" placeholder="Storage_Type">
                </div>

            </div>


                  </div>

                 </div>
     
                 
              </div>


              <div class="row">
                <div class="col-md-6 grid-margin ">
                  <div class="card mb-3">
                    <div class="card-header">
                      Supplier Details
                    </div>
                    <div class="card-body">
                      
                    <div class="form-group">
                        <label for="exampleInputUsername1">Supplier Id</label>
                        <input type="text" class="form-control" id="Supplier_Key" formControlName="Supplier_Key" placeholder="Username">
                    </div>
                    <!-- <div class="form-group">
                      <label for="exampleInputUsername1">Supplier Name</label>
                      <input type="text" class="form-control" id="supplierName" formControlName="supplierName" placeholder="Username">
                  </div> -->
                  <div class="form-group">
                    <label for="exampleInputUsername1">Store Id</label>
                    <input type="text" class="form-control" id="Store_Key" formControlName="Store_Key" placeholder="Username">
                </div>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit" class="float-end btn btn-sm btn-primary mt-2 mt-sm-0 btn-icon-text">
                <i class="mdi mdi-plus-circle"></i> Submit </button>
                </div>
            </div>
        </form>


    
        </div>


    </div>
</div>
</div>
