

<!-- partial -->
<div class="content-wrapper">
    <div class=" container">
      <div class=" pb-0">
        
        <!-- first row starts here -->
       
        <div class="row">
          <div class="header-right mt-md-2 mt-lg-0 w-100">
            <div class=" align-items-center d-inline-block">
              <a href="#">
                <p class="m-0 pe-3">System Configuration</p>
              </a>
              <a class="ps-3 me-4" href="#">
                <p class="m-0">Monotonic Constraints
                </p>
              </a>
            </div>
            <!-- <div class=""  style="display: inline-block;  float: right;">
                  <button type="button" (click)="backButtonClick()" class=" btn btn-sm btn-success btn-icon-text" style="height:30px">
                    <i class="mdi mdi-arrow-left"></i> Back</button>
                </div> -->
          </div>
        </div>

        <div class="col-lg-12 p-0 grid-margin stretch-card mt-3">
          <div class="card">
            <div class="card-body pb-5">

              <div class="mb-3">
                <h3 class="d-inline-block">Monotonic Constraints  </h3>
                
              </div>

              
              
              <div class="clearfix"></div>


                  <div class="table-responsive container">

                    
             <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered" >
                      <thead>
                        <tr>
                        <th style="width:240px ;">ID Variables</th>
                        </tr>
                        <!-- <tr>
                          <th> <input type="text" class="form-control form-control-sm" > </th>
                          <th> <input type="text" class="form-control form-control-sm" > </th>
                        </tr> -->
                      </thead>
                      <tbody>
                      <tr>
                        <td> Date </td>
                      </tr>

                      <tr>
                        <td> day of the Week </td>
                       
                      </tr>
                      <tr>
                        <td> Week day </td>

                      </tr>
                      <tr>
                        <td> Week Number </td>

                      </tr>
                      <tr>
                        <td> Month </td>

                      </tr>
                      <tr>
                        <td> Year </td>

                      </tr>
                      <tr>
                        <td> Holiday </td>

                      </tr>
                      <tr>
                        <td> Category </td>

                      </tr>
                      <tr>
                        <td> Sub Category </td>

                      </tr>
                      <tr>
                        <td> Product </td>

                      </tr>
                      <tr>
                        <td> Store ID </td>

                      </tr>
                      <tr>
                        <td> Store Name </td>

                      </tr>
                      <tr>
                        <td> City </td>

                      </tr>
                      <tr>
                        <td> Latitude </td>

                      </tr>
                      <tr>
                        <td> Longitude </td>

                      </tr>
                      <tr>
                        <td> Country name  </td>

                      </tr>
                      
                      
                        
                      </tbody>
                    </table>
                </div>
                
              <div class="col-md-8">
                <table class="table table-bordered" >
                  <thead>
                    <tr>
                    <th>Model Independent  Variables </th>
                    <th>Dependent varaible</th>
                    <th>Monotonic Constraints </th>
                    </tr>
                    <!-- <tr>
                      <th> <input type="text" class="form-control form-control-sm" > </th>
                      <th> <input type="text" class="form-control form-control-sm" > </th>
                      <th> <input type="text" class="form-control form-control-sm" > </th>
                      <th> <input type="text" class="form-control form-control-sm" > </th>
                    </tr> -->
                  </thead>
                  <tbody>
                  <tr>
                    <td> Foot fall </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                    
                  </tr>

                  <tr>
                    <td> Net Sale Price </td>
                    <td> SALES VOLUME </td>
                    <td> -1</td>
                  </tr>
                  <tr>
    
                    <td> Max Temperature  </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>

                    <td> Min Temperature </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>
          
                    <td> Humidity </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                 
                  <tr>

                    <td> RETAIL_PRICES_INDEX </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>

                    <td> UNEMP_RATE </td>
                    <td> SALES VOLUME </td>
                    <td> -1</td>
                  </tr>
                  <tr>

                    <td> GDP </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>

                    <td> Sales_trend </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>
    
                    <td> Covid data </td>
                    <td> SALES VOLUME </td>
                    <td> 0</td>
                  </tr>
                  
                  
                  <tr>
                  
                    <td> personal Disposal Income </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>
                 
                    <td> Price Elasticity </td>
                    <td> SALES VOLUME </td>
                    <td> 1</td>
                  </tr>
                  <tr>
                 
                    <td> Lag of Sales Volume </td>
                    <td> SALES VOLUME </td>
                    <td> 0</td>
                  </tr>
                  
                  
                    
                  </tbody>
                </table>
              </div>
            </div>
            
           

            
          </div>


                
              </div>
              
            
            </div>
          </div>
        </div>
        
        

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
